# MongoDB connection string
DATABASE_URL=mongodbstring

# Server configuration
PORT=5010
BACKEND_BASE_URL=http://localhost:5010

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379


# Bull Board configuration
BULLBOARD_PASSWORD=admin123

# Bucket configuration
BUCKET_NAME=bucket-name
BUCKET_REGION=region
BUCKET_ACCESS_KEY=access-key
BUCKET_SECRET_KEY=secret-key
BUCKET_ENDPOINT=https://nyc3.digitaloceanspaces.com


# JWT configuration
JWT_SECRET=jwt-secret-key
JWT_COMMAND=openssl rand -hex 32
GEN_SALT=10
EXPIRES_IN=15d

# Email configuration
EMAIL=test@gmail.com
APP_PASS=tppf ptcf alyr vytt
